<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gadoworld.mathman"
    android:versionCode="2"
    android:versionName="2.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Blue.Dark" >
        <activity
            android:name="com.gadoworld.mathman.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SlopeActivity" ></activity>
        <activity android:name="DistanceActivity" ></activity>
        <activity android:name="MidActivity" ></activity>
        <activity android:name="ThemeActivity"></activity>
        <activity android:name="FormActivity"></activity>
        <activity android:name="CircleActivity"></activity>
        <activity android:name="CirActivity"></activity>
        <activity android:name="SqrActivity"></activity>
        <activity android:name="SinActivity"></activity>
        <activity android:name="CosActivity"></activity>
        <activity android:name="TanActivity"></activity>
        <activity android:name="xSinActivity"></activity>
        <activity android:name="xCosActivity"></activity>
        <activity android:name="xTanActivity"></activity>
        <activity android:name="ArcActivity"></activity>
        <activity android:name="AboutActivity"></activity>
        <activity android:name="GraphActivity" android:configChanges="orientation|screenSize"></activity>
        <activity android:name="Distance3DActivity"></activity>
    </application>

</manifest>